<div id="post">
  <span class="flags">
    <%=show_flags.html_safe%>
  </span>

  <h1><%=@post.title%></h1>
  <p><%=sanitized_text(@post.text, @post.title).html_safe%></p>
  <div class="date"><%=@post.published_at.strftime('%d.%m.%Y')%></div>
</div>